.deps
Makefile
Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
aclocal.m4
autom4te.cache
configure
depcomp
install-sh
memcached
memcached-debug
memcached-debug.profile
missing
stamp-h1
tags
/version.m4
/memcached.spec
.*.swp
compile
*.o
ymemd
